= search_form_for(\
    search, url: request.path,\
    html: {\
      data: {\
        turbo_frame: "notes_#{reading_club.id}",
        controller: 'form',\
        action: 'input->form#search'\
      }\
    }\
  ) do |f|

  .mr-2.mb-2.border.rounded-md
      = f.search_field :title_cont,
        placeholder: 'ノートのタイトルで検索',
        class: 'h-8 p-2 w-full \
                border-gray-300 rounded-md \
                focus:border-blue-500 focus:ring focus:ring-blue-200'
