h1 輪読会一覧

= paginate @reading_clubs

= render 'search_form', url: reading_clubs_path

ul
  - @reading_clubs.each do |reading_club|
    = render 'reading_club', reading_club:

= paginate @reading_clubs
