.tiptap ol {
  list-style-type: decimal;
}

.tiptap ul {
  list-style-type: disc;
}

.tiptap > ul,
.tiptap > ol {
  margin-left: 1rem;
  margin-top: 0.25rem;
  margin-bottom: 0.5rem;
}

.tiptap ul,
.tiptap ol {
  padding-top: 0;
  padding-left: 1rem;
  margin-top: 0.25rem;
  margin-bottom: 0.5rem;
}

.tiptap ul li,
.tiptap ol li {
  margin-top: 0.25rem;
  margin-bottom: 0.5rem;
}
