name: Fetch Latest Reading Clubs

on:
  workflow_dispatch:
  schedule:
    - cron: "0 18 * * *"

jobs:
  fetch-reading-clubs:
    runs-on: ubuntu-latest

    env:
      RAILS_ENV: production
      FLY_API_TOKEN: ${{ secrets.FLY_API_TOKEN }}

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Ruby
        uses: ruby/setup-ruby@v1
        with:
          ruby-version: '3.4.2'

      - name: Install dependencies
        run: bundle install

      - name: Install Fly CLI
        uses: superfly/flyctl-actions/setup-flyctl@master

      - name: Run rake fetch task
        run: flyctl ssh console -t  $FLY_API_TOKEN --command "rake fetch:reading_clubs"
